name: Update Description

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build image"]
    types:
      - completed
  push:
    branches:
      - "main"
    paths:
      - README.md

jobs:
  update-description:
    runs-on: ubuntu-latest
    steps:
    - 
      name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - 
      name: Checkout
      uses: actions/checkout@v3
    - 
        name: Update docker description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ vars.DOCKERHUB_USERNAME }}/mamba